<!-- /templates/page.liquid -->
<p class="page-title">select meal box size</p>
<div class="container content">
  <div class="row">
  	<div class="size-selection" id="size-selection">
    </div>
  </div>
  <p class="page-title">choose your ingredients</p>
  <div class="row body">
    <div class="ingredients-list" id="ingredients-list"></div>
  </div>
</div>
