<!-- /templates/page.liquid -->
<p class="page-title">select meal box size</p>
<div class="container content">
  <div class="row">
  	<div class="size-selection" id="size-selection">
    </div>
  </div>
  <p class="page-title">choose your ingredients</p>
  <div class="alert alert-warning" role="alert">
    While all steps are taken to avoid cross-contamination of
    gluten, dairy, eggs, wheat, meat and other allergens, CWC does
    not prepare meals that do include meat and/or allergens food in
    separate kitchens. Gluten-free and vegan-friendly meals will not
    include these as ingredients, but traces of allergens or meat
    still may occur. Please use your best judgment when consuming
    these meals.
  </div>
  <div class="row body">
    <div class="ingredients-list" id="ingredients-list"></div>
  </div>
</div>
